# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Notebook checkpoints
.ipynb_checkpoints/

# Local environment files
.env
.env.*


# Dataset files
*.csv

# Editor settings
.vscode/
